include ./lib/header.jade
    script.
        !(function() {
            var rem;
            rem = function() {
                document.documentElement.style.fontSize = (document.documentElement.clientWidth || document.documentElement.clientWidth) + 'px';
            };
            rem();
            window.addEventListener('resize', rem, false);
            var _hmt = _hmt || []
        })();

    link(href="/static/css/index.css",rel="stylesheet",type="text/css")
    body
        audio#audio(src="/static/image/background.mp3",loop="loop")
        div.start
            div.start-btn=""
        div.start1.gif=""
        div.start2.gif=""
        div.start3.gif=""
        div.start4.gif=""
        div.start5.gif=""
        div.start6.gif=""
        div.start7.gif=""
        div.start8.gif=""
        section.swiper-container
            section.swiper-wrapper
                section.swiper-slide(class="page page1")
                    div.background
                        div.logo=""
                        div.up=""
                section.swiper-slide(class="page page2")
                    div.background
                        div.up=""
                section.swiper-slide(class="page page3")
                    div.background
                        div.logo=""
                        div.fly=""
                        div.up=""
                section.swiper-slide(class="page page4")
                    div.background
                        div.cloud=""
                        div.pic=""
                        div.up=""
                //section.swiper-slide(class="page page5")
                //    div.background="" 
                //        div.first
                //        div.second
                //        div.third
                //    div.first-image
                //        div.clock
                //        div.up=""
                //    div.second-image
                //        div.clock
                //        div.up=""
                //    div.third-image
                //        div.clock
                //        div.up=""
                section.swiper-slide(class="page page6")
                    div.background
                        div.up=""
                section.swiper-slide(class="page page7")
                    div.background
                        div.car1=""
                        div.car2=""
                        div.car3=""
                        div.full-image
                            div.xiamiancnm.swiper-container
                                div.swiper-wrapper
                                    - var a = ['car1.jpg','car2.jpg','car3.jpg'];
                                    - for(var i in a)
                                        div.image-auto.swiper-slide(class="image-auto#{i}",data-image="/static/image/#{a[i]}",style="background-image:url('/static/image/#{a[i]}')")

                section.cnm.swiper-slide(class="page page8")
                    div.background
                        div.car1=""
                        div.car2=""
                        div.car3=""
                        div.car4=""
                        div.car5=""
                        div.full-image
                            div.cnm-container.swiper-container
                                div.swiper-wrapper
                                    - var a = ['cnm1.jpg','cnm2.jpg','cnm3.jpg','cnm4.jpg','cnm5.jpg'];
                                    - for(var i in a)
                                        div.image-auto.swiper-slide(class="image-auto#{i}",data-image="/static/image/#{a[i]}",style="background-image:url('/static/image/#{a[i]}')")
                section.cnm-2.swiper-slide(class="page page9")
                    div.background
                        div.car1=""
                        div.car2=""
                        div.car3=""
                        div.car4=""
                        div.car5=""
                        div#more 查看更多图集
                        div.full-image
                            div.cnm2-container.swiper-container
                                div.swiper-wrapper
                                    - var a = ['cnm44.jpg','cnm24.jpg','cnm35.jpg','cnm34.jpg','cnm46.jpg'];
                                    - for(var i in a)
                                        div.image-auto.swiper-slide(class="image-auto#{i}",data-image="/static/image/#{a[i]}",style="background-image:url('/static/image/#{a[i]}')")


                            
        div.more
            div.background
                div.less 返回
                div.full-image
                    div.swiper-container
                        div.swiper-wrapper
                            - var a = ['cnm16.jpg','cnm17.jpg','cnm18.jpg','cnm19.jpg','cnm20.jpg','cnm21.jpg','cnm22.jpg','cnm23.jpg','cnm24.jpg','cnm25.jpg','cnm26.jpg','cnm27.jpg','cnm28.jpg','cnm29.jpg','cnm30.jpg','cnm31.jpg','cnm32.jpg','cnm33.jpg','cnm34.jpg','cnm35.jpg','cnm36.jpg','cnm37.jpg','cnm38.jpg','cnm39.jpg','cnm40.jpg','cnm41.jpg','cnm42.jpg','cnm43.jpg','cnm44.jpg','cnm45.jpg','o1.jpg','o2.jpg','o3.jpg','o4.jpg','o5.jpg','o6.jpg','o7.jpg','o8.jpg','o9.jpg','o10.jpg','o11.jpg','o12.jpg','o13.jpg','o14.jpg','o15.jpg'];
                            - for(var i in a)
                                div.image-auto.swiper-slide(class="image-auto#{i}",data-image="/static/image/#{a[i]}",style="background-image:url('/static/image/#{a[i]}')")
                - var a = ['cnm16.jpg','cnm17.jpg','cnm18.jpg','cnm19.jpg','cnm20.jpg','cnm21.jpg','cnm22.jpg','cnm23.jpg','cnm24.jpg','cnm25.jpg','cnm26.jpg','cnm27.jpg','cnm28.jpg','cnm29.jpg','cnm30.jpg','cnm31.jpg','cnm32.jpg','cnm33.jpg','cnm34.jpg','cnm35.jpg','cnm36.jpg','cnm37.jpg','cnm38.jpg','cnm39.jpg','cnm40.jpg','cnm41.jpg','cnm42.jpg','cnm43.jpg','cnm44.jpg','cnm45.jpg','o1.jpg','o2.jpg','o3.jpg','o4.jpg','o5.jpg','o6.jpg','o7.jpg','o8.jpg','o9.jpg','o10.jpg','o11.jpg','o12.jpg','o13.jpg','o14.jpg','o15.jpg'];
                - for(var i in a)
                    div.image(data-image="/static/image/#{a[i]}",style="background-image:url('/static/image/#{a[i]}')",data-index="#{i}")
                        div.pointer=""

    script(language="javascript",src="/static/js/index.min.js")
    script(language="javascript",src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
    script(language="javascript").
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?44c2ac29cbe237357637f2939d6cec09";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();

